[Unit]
Description=PISONET Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/pisonet/server.py
WorkingDirectory=/root/pisonet
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target