[Unit]
Description=PISONET Server
After=network.target

[Service]
ExecStart=/root/project_centralize/pisonet_env/bin/python /root/project_centralize/server.py
WorkingDirectory=/root/project_centralize
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target